{% extends 'message_templates/common.html' %}
{% block title_block %}Templates {{type|capitalize}} View{% endblock title_block %}
{% block content %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{ template.title }}</strong>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div><strong>Subject:&nbsp;</strong> {{ template.subject }}</div>
            <div><strong>Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> {{ template.type|upper }}</div>

        </div>
        <!-- /.panel-body -->
    </div>
    <div class="well">
        <h4>Template Body</h4>
        <p>{{template.body|safe}}</p>
    </div>
    <!-- /.panel -->
</div>
{% endblock content %}

