{% extends 'message_templates/common.html' %}
{% block title_block %}Tasks {{type|capitalize}}{% endblock title_block %}
{% block content %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Tasks List {{type}}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>Task</th>
                        <th>Template</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                    <tr class="{% if loop.index % 2 == 1 %}odd{% else %}even{% endif %}">
                        <td>{{task.notification_type}}</td>
                        <td>{{task.template.title}}</td>
                        <td>{{task.status }}</td>
                        <td>
                            <a href="/tasks/view/{{task.task_type}}/{{task.id}}" class="btn btn-info">View</a>&nbsp;&nbsp;
                            <a href="/tasks/edit/{{task.task_type}}/{{task.id}}" class="btn btn-warning">Edit</a>&nbsp;&nbsp;
                            <a href="#" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No Templates found</td>
                    </tr>
                    {% endfor %}
                   </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            <div class="well">
                <h4>DataTables Usage Information</h4>
                <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
{% endblock content %}
{% block footer_scripts %}
    <script>
        $(document).ready(function() {

            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock footer_scripts %}

